html{
	position: relative;
	
}
.jumbotron img{
	width: 120px;
	height: auto;
}
.jumbotron h1,h3,p{
	text-shadow: 2px 2px 2px black;
}
footer{
	bottom: 0;
	background-color: #222;
	position: absolute;
	width: 100%;
	height: 50px;
}
.jumbotron{
	background-color: #313131;
}
.navbar{
	background-color: #1F1F1F;
}
body{
	background-color: #222;
	margin-bottom: 50px;
}
hr{
	width: 100%;
	border-color: white;
}
.col-sm-4 p{
	font-size: 14px;
}
.choice{
	min-height: 400px;
	background-color: #222
}
footer p{
	color: white;
	font-size: 1em;
	padding-top: 0px;
	margin-top: 10px;
}
.contact{
	background-color: #313131;
	min-height: 600px;
	color: white;
}
.contact hr{
	width: 15%;

}
.container table{
	font-size: 14px;
}
.modal-content .modal-header, .modal-footer{
	background-color: #333;
}
.modal-content .modal-body{
	background-color: #555;
}
p.konten {
	line-height: 1px;
}